{% extends "layout.html" %}

{% block content %}
<script>
    $(window).on('load', function() {
        $('#createUserModal').modal({ backdrop: 'static', keyboard: false });
        $('#createUserModal').modal('show');
    });


</script>

<!-- Modal for updating User -->
<div class="modal fade" id="createUserModal" tabindex="-1" role="dialog"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="createUserTitle">{{ title }}</h5>
                   <a href="{{ url_for('user_management.user_table')}}" class="close">
					<span aria-hidden="true">&times;</span>
                   </a>
			</div>
			<form method="post">
				<div class="modal-body">
					{{ form.hidden_tag() }}
					<fieldset class="form-group">
						<div class="row">
							<!-- first_name form -->
							<div class="form-group mr-auto ml-3">
								{{ form.first_name.label(class="form-control-label") }}
								{{ form.first_name(class="form-control form-control-md") }}
							</div>

							<!-- last_name form -->
							<div class="form-group ml-auto mr-3">
								{{ form.last_name.label(class="form-control-label") }}
								{{ form.last_name(class="form-control form-control-md") }}
							</div>
						</div>

						<!-- email form -->
						<div class="form-group">
							{{ form.email.label(class="form-control-label") }}
							{% if form.email.errors %}
							{{ form.email(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.email.errors %}
								<span>{{ error }}</span>
								{% endfor %}
							</div>
							{% else %}
							{{ form.email(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<!-- password form -->
						<div class="form-group">
							{{ form.password.label(class="form-control-label") }}
							{% if form.password.errors %}
							{{ form.password(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.password.errors %}
								<span>{{ error }}</span>
								{% endfor %}
							</div>
							{% else %}
							{{ form.password(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<!-- password repeat form -->
						<div class="form-group">
							{{ form.password_repeat.label(class="form-control-label") }}
							{% if form.password_repeat.errors %}
							{{ form.password_repeat(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.password_repeat.errors %}
								<span>{{ error }}</span>
								{% endfor %}
							</div>
							{% else %}
							{{ form.password_repeat(class="form-control form-control-lg") }}
							{% endif %}
						</div>
					</fieldset>
				</div>
				<div class="modal-footer">
					<div class="form-group d-grid gap-2 col-6 mx-auto">
						<!-- submit button -->
						{{ form.submit(class="btn btn-outline-info btn-block") }}
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock content %}